WebAPI/LoginRegistrationApp/.vs/LoginRegistrationApp/FileContentIndex/5a7de00d-77c1-4e89-a490-f3fae4d6100c.vsidx
WebAPI/LoginRegistrationApp/.vs/LoginRegistrationApp/FileContentIndex/7aeccbf4-d7bb-431b-acb4-5b72d0710820.vsidx
WebAPI/LoginRegistrationApp/.vs/LoginRegistrationApp/FileContentIndex/23fb73a0-1e35-430f-9b7b-a116e0b364df.vsidx
WebAPI/LoginRegistrationApp/.vs/LoginRegistrationApp/FileContentIndex/252cead5-ea44-46aa-ba01-9df79c6e5954.vsidx
WebAPI/LoginRegistrationApp/.vs/LoginRegistrationApp/FileContentIndex/9990ada2-a888-4844-8932-802d5b54ed97.vsidx
WebAPI/LoginRegistrationApp/.vs/LoginRegistrationApp/v17/.futdcache.v2
WebAPI/LoginRegistrationApp/.vs/LoginRegistrationApp/v17/.suo
WebAPI/LoginRegistrationApp/.vs/LoginRegistrationApp/DesignTimeBuild/.dtbcache.v2
WebAPI/LoginRegistrationApp/.vs/LoginRegistrationApp/FileContentIndex/9dcb08de-63be-4a4e-87af-194d856c8a51.vsidx
WebAPI/LoginRegistrationApp/.vs/LoginRegistrationApp/FileContentIndex/53bb0be5-16d0-452c-b8e5-ec9afbb31ad1.vsidx
WebAPI/LoginRegistrationApp/.vs/LoginRegistrationApp/DesignTimeBuild/.dtbcache.v2
WebAPI/LoginRegistrationApp/.vs/LoginRegistrationApp/FileContentIndex/9449fac6-39f3-4462-b179-d8225bc26c1c.vsidx
WebAPI/LoginRegistrationApp/.vs/LoginRegistrationApp/FileContentIndex/16843524-6c10-493b-8fbf-1a9c775df7d3.vsidx
WebAPI/LoginRegistrationApp/.vs/LoginRegistrationApp/DesignTimeBuild/.dtbcache.v2
WebAPI/LoginRegistrationApp/.vs/LoginRegistrationApp/DesignTimeBuild/.dtbcache.v2
WebAPI/LoginRegistrationApp/AspireRightWebApp/AspireRightApp.csproj.user
WebAPI/LoginRegistrationApp/AspireRightWebApp/bin
WebAPI/LoginRegistrationApp/AspireRightWebApp/.vs
WebAPI/LoginRegistrationApp/AspireRightWebApp/obj
WebAPI/LoginRegistrationApp/.vs
WebAPI/LoginRegistrationApp/.vs/LoginRegistrationApp/DesignTimeBuild/.dtbcache.v2
.vs/slnx.sqlite
WebAPI/LoginRegistrationApp/.vs/LoginRegistrationApp/DesignTimeBuild/.dtbcache.v2
WebAPI/LoginRegistrationApp/AspireRightWebApp/.editorconfig
/.vs/AccordionTest/v17
/.vs
